
**/root
**/modules
**/plugins

**/_*.*.*

**/*.tfstate*
**/*.lock*
**/*.log*

**/.*
.*


java-impl/target/

dotnet-implt/main/bin/
dotnet-implt/main/obj/

dotnet-implt/test/bin/
dotnet-implt/test/obj/

